<!-- Contact form -->
<section id="contact" class="wrapper wrapper-secondary wrapper-md">
  <div class="container  wow fadeIn">
    <div class="row">
      <div class="col-md-6">
        <h2>Get Started Now!</h2>
        <p>Constituent Conect is currently invite-only, but accepting applications for users.</p>
        <p>Provide your contact details and a member of our team will be in touch.</p>
        <!-- <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote> -->
      </div>
      <div class="col-md-6">
        <%= form_for Inbound.new, html:{id: "new-inbound-form"},
            method: :post do |f| %>
          <div id="inbound-form-msg-container">
            <p id='inbound-form-errors'>Please provide a name and valid email</p>
            <p id='inbound-form-confirm'>Thanks!  We'll reach out to you shortly</p>
          </div>

          <div class="form-group">
            <label class="control-label">Email</label>
            <%= f.text_field :email, id: "email", class: "form-control",
                placeholder: "Enter Your Email", type: "email" %>
          </div>
          <div class="form-group">
            <label class="control-label">Name</label>
            <%= f.text_field :name, id: "name", class: "form-control",
                placeholder: "Enter Your Name" %>
          </div>

          <div class="form-group">
            <label class="control-label">Message (optional)</label>
            <%= f.text_area :message, id: "message", class: "form-control",
                placeholder: "Enter A Message", cols: 30 %>
          </div>

          <div class="form-group">
            <%= f.submit "submit", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
