<%= render partial: "header" %>

<!-- Hero area -->
<div class="wrapper-shadow">
  <%= render partial: "hero" %>
  <%= render partial: "about" %>
  <%#= render partial: "widget_sample" %>
  <%= render partial: "why_mail" %>
  <%= render partial: "pricing" %>
  <%= render partial: "contact" %>
</div><!-- .wrapper-shadow end -->
