<%= render partial: "header" %>

<!-- Hero area -->
<div class="wrapper-shadow">
  <%= render partial: "hero" %>
  <%= render partial: "slider" %>
  <%= render partial: "three_up" %>
  <%= render partial: "screen_shots" %>
  <%= render partial: "background_image_section" %>
  <%= render partial: "contact" %>

</div><!-- .wrapper-shadow end -->


<%= render partial: "footer" %>
